@font-face {
    font-family: "IndieFlower";
    src: url("../fonts/IndieFlower.ttf") format("truetype"); }
  
.App {
    flex: 1;
    text-align: center;
    font-size: 10;
    flex-direction: row; 
}
  
.App-header {
    flex: 1;
    font-family: "IndieFlower"; 
    background-color: #282c34;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24;
    color: white; 
    margin-bottom: 30px;
} 

.Images-container {
    flex-direction: row;  
}
  