
@font-face {
  font-family: "IndieFlower";
  src: url("../fonts/IndieFlower.ttf") format("truetype"); }

.Container {
  padding-bottom: 30px;
  flex-direction: 'row';
  flex: 1;
}

.Button {
  border-radius: 20px;
  margin-left: 5px;
}

.Subtext {
  font-family: "IndieFlower"; 
  font-size: 12;
  margin-top: 20px;
}